.service{
    background-color: #ddd;
    border: 2px solid #fff;
}

.service-btn{
    background-color: var(--secondary-color);
    color: white;
    padding: 8px 26px;
    border-radius: 20px;  
    transition: background-color 400ms ease;
}

.service-btn:hover{
    background-color: var(--primary-color);
    color: white;
}
