.work-hour{
    background-color: var(--primary-color);
}

@media (max-width: 468px) {
    .work-hour .container .left{
        margin: 0 auto;
        margin-bottom: 18px;
        padding-top: 0px;
    }
}